<%= grid(@articles_grid, show_filters: :when_filtered, hide_csv_button: true) do |g|
	g.column :name => 'title', :attribute => 'title' do |article|
		link_to article.title,[:admin,article]
	end


	g.column do |article|
		edit =  link_to raw("<button class=\"btn btn-mini btn-info\"><i class=\"fa fa-edit bigger-120\"></i></button>"), edit_admin_wx_article_path(article)
		remove = link_to raw("<button class=\"btn btn-mini btn-danger\"><i class=\"fa fa-trash-o bigger-120\"></i></button>"), [:admin,article], method: :delete, data: { confirm: 'Are you sure?' }
		raw "#{edit} #{remove}"
	end
	
end -%>