<div class="box box-solid box-primary">
    <div class="box-header">
        <h3 class="box-title">条件查询</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-primary btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-primary btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
			<%= search_form_for(@q,url: admin_wx_articles_path,:html=>{:class=>"form-horizontal"} ) do |f| %>
			  <div class="control-group">
			    <label class="control-label" for="inputEmail">标题</label>
			    <div class="controls">
						<%=f.text_field :title_cont%>
			    </div>
			  </div>
			
				<div class="control-group">
			    <label class="control-label" for="inputEmail">跳转模式</label>
			    <div class="controls">
						<select id="q_is_linked" name="q[is_linked_eq]">
							<option value=""></option>
							<option value="1">外链</option>
							<option value="0">内部</option>
						</select>
			  </div>
			
			<hr/>
			  <%= f.submit "查询",:class=>"btn btn-block btn-primary" %>				  
			<% end %>
    </div><!-- /.box-body -->
</div><!-- /.box -->


