<div class="box">
	<div class="box-header">
	   <h3 class="box-title">编辑图文消息</h3>
		 <div class="box-tools">
     </div>
	</div><!-- /.box-header -->
	<div class="box-body">
		<%=render 'form'%>
	</div>
</div>
