<style>
.content{
	background-color:black;
}
#mySlider img{
	margin-top:10px;
	width:100%;
}
</style>
<div class="slider" id="mySlider">
  <div class="slide-group">
    <div class="slide">
      <img src="/images/weixin_cover.jpg">
    </div>
  </div>
</div>