<style>

.content,slider{
	background-color:black;
	
}



#mySlider img{
	width:100%;
}
#mySlider {
	background-color:black;

}


</style>
<div class="slider" id="mySlider">
  <div class="slide-group">
    <div class="slide">
      <img src="/images/weixin_cover.jpg?1">
    </div>
  </div>
</div>