<div id="alert" class="alert alert-success alert-dismissable">
	<i class="fa fa-check"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <b>自定义菜单</b> 更新功能。
</div>