<div id="alert" class="alert alert-danger alert-dismissable">
	<i class="fa fa-check"></i>
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <b>自定义菜单</b> 请检查填写内容是否正确。
</div>