<%if session["article_like_#{article.id}"].nil?%>
	<%=link_to like_mobile_wx_article_path(article) ,:remote=>true do%>
  	<span class="like" title="点赞"><i class="fa fa-thumbs-o-up"></i><%= article.like_count %>个赞</span>
	<%end%>
<%else%>
	<span class="like" title="点赞"><i class="fa fa-thumbs-up"></i><%= article.like_count %>个赞</span>
<%end%>